* {
  font-family: Roboto, sans-serif;
}

.error {
  color: red;
}

body .ui-li .ui-li-desc {
 white-space: normal;
}

body .ui-footer .ui-title {
 white-space: normal;
}

#endbuttons{
  margin: 20% 1% 0 1%;
}

#endqtntitle{
  margin: 20px 0 0 25px;
}

#owl-demo .item div{
    display: block;
    width: 100%;
    height: auto;
}

#uploadPreview img{
  height:32px;
}

/* Stop some key items from being truncated */
body .ui-li .ui-li-desc {
 white-space: normal;
 }
 
 .inline-form {
}

.inline-form .wrapper {
  float: left;
  width: 100%;
  margin-right: 10px;
}

.inline-form .wrapper .content {
  margin: 0 75px 0 92px;  /* 0 RC 0 LC */
}

.inline-form .left {
  float: left;
  width: 92px; /* LC */
  margin-left: -100%;
}

.inline-form .text {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  display: block;
  font-size: 16px;
}

.inline-form .right {
  float: left;
  width: 75px; /* RC */
  margin-left: -75px; /* -RC */
  padding-bottom: 5px;
}

.inline-form .footer{
  clear: left;
}


#takephoto{
  margin-left: 85px;
  
}

#ordiv{
  margin-top: 36px;
}

#orbold{
  margin-left: 28px;
}

#qr_code {
    width: 200px !important;
    height: 200px !important;
    border-radius: 50% !important;
    background:url(../images/scan2.png) center center no-repeat;
    left: 10%;
    top: 30%;
}

#qr_code span span {
    height: 100px !important;  
    line-height: 70px;
}

#custom-menu { 
  left: 85%;
  top: 75%;
}

.security_anchor  {
    color: #000000;
    text-decoration: none;
}

.login_anchor {
    color: #000000;
    text-decoration: none;
}
 